#### This is my notebook, I've included it to show my thought process on my project.
##### Tasks:
* Find a way to count the number of people involved in each accident

In [103]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [104]:
pd.set_option('display.max_columns', None)
df = pd.read_csv('test99_to_2003_dataset_en.csv', low_memory = False)

In [105]:
# Creating a sample of the data to work through
sample = df.head(250)
sample

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,C_RALN,C_TRAF,V_ID,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER,C_CASE
0,1999.0,1,1,20,2.0,2,34,UU,1,5,3,3,1,6,1990,1,M,41,11,1,UU,1,752.0
1,1999.0,1,1,20,2.0,2,34,UU,1,5,3,3,2,1,1987,1,M,19,11,1,UU,1,752.0
2,1999.0,1,1,20,2.0,2,34,UU,1,5,3,3,2,1,1987,2,F,20,13,2,2,2,752.0
3,1999.0,1,1,8,2.0,1,1,UU,5,3,6,18,1,1,1986,1,M,46,11,1,UU,1,753.0
4,1999.0,1,1,8,2.0,1,1,UU,5,3,6,18,99,NN,NNNN,1,M,5,99,2,UU,3,753.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,1999.0,1,1,15,2.0,2,33,2,1,3,1,18,1,6,1997,1,U,41,11,1,UU,1,10238.0
246,1999.0,1,1,15,2.0,2,33,2,1,3,1,18,2,1,1987,1,M,33,11,2,2,1,10238.0
247,1999.0,1,1,15,2.0,2,33,2,1,3,1,18,2,1,1987,2,F,13,13,2,2,2,10238.0
248,1999.0,1,1,17,2.0,1,3,UU,4,3,2,18,1,1,1987,1,F,57,11,2,2,1,10245.0
249,1999.0,1,1,15,2.0,1,1,2,1,3,1,18,1,1,1985,1,U,24,11,1,UU,1,10267.0