In [1]:
import numpy as np
import pandas as pd

In [75]:
df = pd.read_csv('test99_to_2019_dataset_en.csv', low_memory = False)
df[df['C_YEAR'] == 2001.0]

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,C_RALN,C_TRAF,V_ID,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER,C_CASE
835584,2001.0,1,1,18,2.0,1,2,2,2,5,3,UU,1,1,UUUU,1,F,34,11,2,2,1,307157.0
835585,2001.0,1,1,11,2.0,2,21,UU,4,4,2,UU,1,1,UUUU,1,F,NN,11,2,2,1,307190.0
835586,2001.0,1,1,11,2.0,2,21,UU,4,4,2,UU,2,1,UUUU,1,M,43,11,2,2,1,307190.0
835587,2001.0,1,1,16,2.0,2,23,UU,1,3,1,18,1,1,UUUU,1,F,21,11,2,2,1,307253.0
835588,2001.0,1,1,16,2.0,2,23,UU,1,3,1,18,2,5,UUUU,1,F,40,11,2,2,1,307253.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048571,2001.0,7,5,15,2.0,2,36,2,1,1,1,1,2,1,1994,2,M,23,13,1,2,2,377934.0
1048572,2001.0,7,5,16,2.0,2,35,1,1,1,1,18,1,1,1994,1,M,49,11,1,2,1,377935.0
1048573,2001.0,7,5,16,2.0,2,35,1,1,1,1,18,1,1,1994,2,M,40,13,1,2,2,377935.0
1048574,2001.0,7,5,16,2.0,2,35,1,1,1,1,18,2,14,1983,1,F,33,11,2,9,5,377935.0
1048575,2001.0,7,5,11,2.0,2,21,1,1,1,1,18,1,1,1997,1,F,46,11,1,2,1,377947.0

In [63]:
pd.set_option('display.max_columns', None)
sample = df.head(20)
sample

,C_YEAR,C_MNTH,C_WDAY,C_HOUR,C_SEV,C_VEHS,C_CONF,C_RCFG,C_WTHR,C_RSUR,C_RALN,C_TRAF,V_ID,V_TYPE,V_YEAR,P_ID,P_SEX,P_AGE,P_PSN,P_ISEV,P_SAFE,P_USER,C_CASE
0,1999.0,1,1,20,2.0,2,34,UU,1,5,3,3,1,6,1990,1,M,41,11,1,UU,1,752.0
1,1999.0,1,1,20,2.0,2,34,UU,1,5,3,3,2,1,1987,1,M,19,11,1,UU,1,752.0
2,1999.0,1,1,20,2.0,2,34,UU,1,5,3,3,2,1,1987,2,F,20,13,2,2,2,752.0
3,1999.0,1,1,8,2.0,1,1,UU,5,3,6,18,1,1,1986,1,M,46,11,1,UU,1,753.0
4,1999.0,1,1,8,2.0,1,1,UU,5,3,6,18,99,NN,NNNN,1,M,5,99,2,UU,3,753.0
5,1999.0,1,1,17,2.0,3,QQ,QQ,1,2,1,1,1,1,1984,1,M,28,11,1,UU,1,820.0
6,1999.0,1,1,17,2.0,3,QQ,QQ,1,2,1,1,2,1,1991,1,M,21,11,1,UU,1,820.0
7,1999.0,1,1,17,2.0,3,QQ,QQ,1,2,1,1,2,1,1991,2,F,UU,13,2,UU,2,820.0
8,1999.0,1,1,17,2.0,3,QQ,QQ,1,2,1,1,3,1,1992,1,M,UU,11,2,UU,1,820.0
9,1999.0,1,1,15,2.0,1,4,UU,1,5,U,UU,1,1,1997,1,M,61,11,1,UU,1,932.0
10,1999.0,1,1,15,2.0,1,4,UU,1,5,U,UU,1,1,1997,2,F,56,13,2,2,2,932.0
11,1999.0,1,1,14,2.0,2,31,UU,3,4,2,UU,1,1,1993,1,F,34,11,1,UU,1,992.0
12,1999.0,1,1,14,2.0,2,31,UU,3,4,2,UU,2,1,1997,1,F,34,11,2,2,1,992.0
13,1999.0,1,1,1,2.0,1,QQ,UU,1,2,5,UU,1,6,1985,1,M,22,11,2,2,1,1067.0
14,1999.0,1,1,1,2.0,1,QQ,UU,1,2,5,UU,1,6,1985,2,M,28,13,2,2,2,1067.0
15,1999.0,1,1,11,2.0,2,34,UU,1,2,2,1,1,6,1988,1,F,30,11,2,2,1,1243.0
16,1999.0,1,1,11,2.0,2,34,UU,1,2,2,1,2,6,1993,1,M,49,11,2,2,1,1243.0
17,1999.0,1,1,11,2.0,2,34,UU,1,2,2,1,1,6,1988,1,F,30,11,2,2,1,1266.0
18,1999.0,1,1,11,2.0,2,34,UU,1,2,2,1,2,6,1993,1,M,49,11,2,2,1,1266.0
19,1999.0,1,1,11,2.0,2,21,UU,1,5,1,UU,1,1,1994,1,M,32,11,1,UU,1,1331.0